<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">
<head>
<title>Springboot Rocks</title>
</head>
<body>
	<div layout:fragment="content">



		<div class="d-flex align-items-center justify-content-center">
			<select id="statusSelection"
				class="col-sm-2 form-control form-control-sm">
				<option>All</option>
				<option>Inactive</option>
				<option>Active</option>
			</select>
		</div>
		<br />

		<div th:replace="tables/usertable :: resultsList"></div>
		<h4>Click Any row to see the details and Modal</h4>
		<div th:replace="fragments/usermodal :: modalContents"></div>

	</div>



</body>
</html>